<div class="center jumbotron">

<% if logged_in? %>
  <h1> THP va contrôler le monde de 42 façons </h1>

  <% else %>
  <h3> Pour en savoir plus....inscris-toi </h3>
<%= link_to "Je suis faible et je veux me connecter", login_path %>
  <% end %>